html{
    font-family: 'Noto Sans Mono', 'Sans Serif';
}

*,body{
    margin:0;
}

@keyframes pink-green{
    0%  {background-image: linear-gradient(rgba(40,238,167,0.93), rgba(40,238,167,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
    33% {background-image: linear-gradient(rgba(40,238,167,0.93), rgba(40,238,167,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
    34% {background-image: linear-gradient(rgba(152,100,218,0.93), rgba(152,100,218,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
    67% {background-image: linear-gradient(rgba(152,100,218,0.93), rgba(152,100,218,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
    68% {background-image: linear-gradient(rgba(251,80,142,0.93), rgba(251,80,142,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
    100% {background-image: linear-gradient(rgba(251,80,142,0.93), rgba(251,80,142,0.93)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");}
}

@keyframes black-white-text{
    0% {color: rgba(35,35,35)}
    33% {color: rgba(35,35,35)}
    34% {color: white}
    100% {color: white}
}

.hero-left{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    background-position:50%;
    background-clip: border-box;
    background-size: cover;
    animation: pink-green 6s infinite;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 60px;
}

.hero-right{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(35,35,35,.85);
    background-image: linear-gradient(rgba(35,35,35,.85), rgba(35,35,35,.85)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-position:50%;
    background-clip: border-box;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 60px;
}

@media(min-width: 800px){
    .top-hero-parent{
        display: flex;
        flex-flow: row wrap;
        width: 100vw;
        height: 100vh;
    }
    .hero-left{
        height: 100%;
        width: 50vw;
    }
    .hero-right{
        height: 100%;
        width:50vw;
    }
}

@media(max-width: 800px){
    .top-hero-parent{
        display: flex;
        flex-flow: column wrap;
        width: 100vw;
        height: 100vh;
    }
    .hero-left{
        height: 50%;
        width: 100vw;
    }
    .hero-right{
        height: 50%;
        width:100vw;
    }

    .left-description, .right-description{
        font-size: 0.875rem !important;
    }


    .typed-text, .heading-contd{
        font-size: 1.285rem !important;
    }

}

.left-hero-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
    width: 100%;
    margin: 0 50px;
}
.right-hero-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
    width: 100%;
    margin: 0 50px;
}

.left-heading h1{
    color: white;
    background-color: rgba(35,35,35);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    margin-bottom: 5px;
}

.right-heading h1{
    color: rgba(35,35,35);
    background-color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10px;
    margin-bottom: 5px;
}

.left-description{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 1rem;
    line-height: 1.5;
    animation: black-white-text 6s infinite;
}

.right-description{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

.left-top-hero-button{
    background-color: rgba(35,35,35);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color:white;
    padding: 15px 20px;
}

.right-top-hero-button{
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: rgba(35,35,35);
    padding: 15px 20px;
}

.typed-text{
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 900;
    animation: black-white-text 6s infinite;
}

.heading-contd{
    color: white;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 900;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    top: 5%;
    height: 50px;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.se-logo-wrapper{
    height: 100%;
}

.se-image{
    height: 100%;
}

.burger-menu-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: rgba(70,70,70);
    border-radius: 20%;
}

.burger-menu{
    width:36px;
    height: 36px;
}

.burger-menu-wrapper:hover{
    cursor: pointer;
}

.burger-anchor{
    margin: 0;
    padding: 0;
    height: 75%;
}

.hero-container{
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100vw;
}

.container-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

.section-title{
    font-size: 24px;
    font-weight: 900;
    color: #363738;
    align-self: center;
}

.section-title::before{
    content:"> ";
    color:#28eea7;
    font-size: 30px;
}

.dot{
    width: 24px;
    height: 24px;
    border-radius: 75%;
    background-color: black;
}

.three-dots{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 7vw;
}

.first-dot{
    background-color: #363738;
}

.second-dot{
    background-color: #dcdee1;
}

.third-dot{
    background-color: #28eea7;
}

.hero-body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    width: 100vw;
}

.iframe-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #28eea7;
    border-radius: 2%;
}

.milestones-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    width: 100%;
    height: fit-content;
    gap:20px;
}

.main-milestone-wrapper{
    height: 64vh;
}

.employment-milestone{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    width: 30vw;
    height: 100%;
    padding: 5% 6%;
    border-radius:  5%;
    background-color: #f1f2f3;
    flex-grow:1;
}

.main-milestone-title{
    font-size: 120px;
    font-weight: 900;
}

.main-milestone-employment-rate{
    font-size: 32px;
    font-weight: 900;
}

.info{
    font-size: 14px;
}

.other-milestones{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 64vh;
    width: 42vw;
    gap: 2vh;
    flex-grow:1;
}

.top-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 42vw;
    gap:2%;

}

.bottom-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 42vw;
    gap: 2%;
}

.milestone{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 20vw;
    height: 30vh;
    background-color: #f1f2f3;
    box-sizing: border-box;
    padding-left: 5%;
    border-radius:  5%;
}

.milestone-title{
    font-size: 64px;
    font-weight: 900;
}

.programs-container{
    background-color: rgb(255, 198, 53);
}
.programs-container .section-title{
    background-color: #363738;
    color: white;
    padding: 5px 20px;
}

.programs-container .first-dot{
    background-color: white;
}

.programs-container .second-dot{
    background-color: #a5a6a9;
}

.programs-container .third-dot{
    background-color: #363738;
}

.programs-body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.top-navigator-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin:0;
    padding:0;
}
.top-navigator{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.top-navigator>li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 8vw;
    color: black;
    font-weight: 900;
}

.top-navigator>li>a{
    color: black;
}

.top-navigator>li:hover{
    cursor: pointer;
}

.top-navigator li:focus{
    background-color: #363738;
    color: rgb(255, 198, 53);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.program-content-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 68vh;
    background-color: #363738;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.program-details{
    flex:2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.program-title{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.program-title-prefix{
    color: rgb(255, 198, 53) !important;
}

.program-description{
    color:#f1f2f3;
    font-size: 14px;
    text-justify: auto;
}

.action-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap:2%;
    height: 100%;
}

.next-bootcamp{
    color:#f1f2f3;
    text-align: center;
    flex:1;
    background-color: #232323;
    padding: 10px 0px 10px 0px;
}

.next-bootcamp-date{
    color: rgb(255, 198, 53);
    font-weight: 900;
}

.more-info{
    flex:1;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f3;
    font-weight: 900;
    padding: 10px 20px 10px 0px;
    background-color: #232323;
    text-align: right;
}


.program-picture{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.testimonial-image-two{
    border-radius: 10px;
    object-fit: cover;
}

.talent-section{
    background-color:#363738;
}

.talent-section .section-title, .faqs-container .section-title{
    color: white;
}

.talent-section .first-dot, .faqs-container .first-dot{
    background-color: white;
}
.talent-section .second-dot, .faqs-container .second-dot{
    background-color: #a5a6a9;
}

.talent-container{
    box-sizing: border-box;
    padding:40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20%;
    background-color: #232323;
    border-radius: 20px;
}

.recruitment-partner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex:1;
}

.recruitment-partner ol{
    color: #dcdee1;
    font-size: 14px;

}

.recruitment-partner p{
    color: #dcdee1;
    font-size: 14px;
}

.benefits-wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.stats{
    font-size: 16px;
    color: #dcdee1;
    background-color:#363738;
    padding: 10px;
    width: fit-content;
}

.green{
    font-weight: 900;
    color: #28eea7;
}

.contact-us{
    flex:1;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f2f3;
    font-weight: 900;
    padding: 10px 20px 10px 0px;
    background-color: #363738;
    text-align: right;
}

.hr-text{
    color: #dcdee1;
    font-size: 22px;
}
.hr-factory-container{
    width: 100%;
    box-sizing: border-box;
    padding:40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap:20px;
    background-color: #232323;
    border-radius: 20px;
    margin-top: 20px;
}

.testimonials-wrapper{
    display: flex;
    flex-flow: row;
    background-color: #363738;
    border-radius: 20px;
    height: 64vh;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}

.testimonial-body{
    flex:1.5;
}

.image{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
}

.image img{
    border-radius: 10px;
}

.image-div{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.testimonial-text{
    display: block;
    color: #f1f2f3;
    font-size: 16px;
    width: 100%;
    padding: 20px;
}

.personal-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20px;
    padding:20px;
    height: 30%;
    align-items: flex-end;
}

.testimonial-image{
    border-radius: 75%;
}

.name-and-bio-box{
    display: flex;
    flex-direction: column;
}

.testimonee-name{
    color: #f1f2f3;
    font-size: 16px;
    font-weight: 900;
}

.testimonee-bio{
    color: #f1f2f3;
}

.faqs-container{
    background-color: #363738;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.faqs-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.faq{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 900;
    background-color: #232323;
    padding: 20px;
    border-radius: 20px;
    color: #f1f2f3;
}

.inverted-arrow{
    font-size: 24px;
    margin:0;
    padding:0;
    transform: rotate(90deg);
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 18px !important;
    border-radius: 0 !important; 
}

.contact-us-container{
    background-color: #28eea7;
}

.contact-us-container .first-dot{
    background-color: #f1f2f3;
}

.contact-us-container .second-dot{
    background-color: #a5a6a9;
}

.contact-us-container .third-dot{
    background-color: #232323;
}

.contact-us-container .section-title{
    color: #f1f2f3;
    background-color: #232323;
    padding: 10px;
}

.contact-us-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}

.map-div{
    width: 24%;
    background-color: #363738;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
}

.map{
    border-radius: 20px;
    width: 100%;
}

.title{
    color:#a5a6a9;
    font-size: 16px;
    font-weight: 600;
}

.details{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #a5a6a9;
}

.company{
    color: #f1f2f3 !important;
    font-weight: 900;
}


.contact-form{
    flex:3;
    background-color: #363738;
    border-radius: 20px;
}

